<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.moy.spring.test.example.repository.ArticleRepository">
    <resultMap id="BaseResultMap" type="org.moy.spring.test.example.domain.ArticleEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="content_short" property="contentShort"/>
        <result column="image_uri" property="imageUri"/>
        <result column="display_time" property="displayTime" jdbcType="TIMESTAMP"/>
        <result column="comment_disabled" property="commentDisabled"/>
        <result column="importance" property="importance"/>
        <!--公共属性-->
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="founder" property="founder" jdbcType="VARCHAR"/>
        <result column="operator" property="operator" jdbcType="VARCHAR"/>
        <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP"/>
        <result column="version" property="operateTime" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="TableName">t_article</sql>

    <sql id="Base_Column_List">
        id, code, title,content,content_short,image_uri,display_time,comment_disabled,importance,
        create_time,founder,operator,operate_time,version
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="TableName"/>
    </select>

    <insert id="insert" parameterType="org.moy.spring.test.example.domain.ArticleEntity">
        INSERT INTO<include refid="TableName"/>(
        <include refid="Base_Column_List"/>
        )
        VALUES (
        #{entity.id},
        #{entity.code},
        #{entity.title},
        #{entity.content},
        #{entity.contentShort},
        #{entity.imageUri},
        #{entity.displayTime},
        #{entity.commentDisabled},
        #{entity.importance},
        #{entity.createTime},
        #{entity.founder},
        #{entity.operator},
        #{entity.operateTime},
        #{entity.version}
        )
    </insert>

    <update id="update">
        UPDATE <include refid="TableName"/>
        <trim prefix="set" suffixOverrides=",">
            <if test="true">title=#{entity.title},</if>
            <if test="true">content=#{entity.content},</if>
            <if test="true">content_short=#{entity.contentShort},</if>
            <if test="true">image_uri=#{entity.imageUri},</if>
            <if test="true">display_time=#{entity.displayTime},</if>
            <if test="true">comment_disabled=#{entity.commentDisabled},</if>
            <if test="true">importance=#{entity.importance},</if>
            <if test="true">operator=#{entity.operator},</if>
            <if test="true">operate_time=#{entity.operateTime},</if>
            <if test="true">version=#{entity.version},</if>
        </trim>
        WHERE code=#{entity.code}
    </update>

    <delete id="delete">
        DELETE FROM
        <include refid="TableName"/>
        WHERE id= #{id}
    </delete>

    <select id="query" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="TableName"/>
        <where>
            <if test="entity.code != null">
                AND code = #{entity.code}
            </if>
        </where>
    </select>

    <select id="getByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="TableName"/>
        <where>
            <if test="entity.code != null">
                AND code = #{entity.code}
            </if>
        </where>
    </select>

    <select id="queryByKeywordAndTag" resultMap="BaseResultMap">
        SELECT
        id, code, title,content_short,image_uri,display_time,comment_disabled,importance
        FROM
        <include refid="TableName"/>
        <where>
            <if test="keyword!=null and keyword!=''">
                AND t_article.title like concat(#{keyword} , '%' )
            </if>
            <if test="tag!=null and tag!=''">
                AND EXISTS (SELECT 1 FROM t_article_tag
                WHERE t_article_tag.article_code= t_article.code
                AND t_article_tag.tag_code=#{tag})
            </if>
        </where>
    </select>
</mapper>