<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.moy.spring.test.example.repository.RolePermissionRepository">
    <resultMap id="BaseResultMap" type="org.moy.spring.test.example.domain.RolePermissionEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="role_code" property="roleCode" jdbcType="VARCHAR"/>
        <result column="permission_code" property="permissionCode" jdbcType="VARCHAR"/>
        <!--公共属性-->
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="operator" property="operator" jdbcType="VARCHAR"/>
        <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP"/>
        <result column="version" property="operateTime" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="TableName">t_role_permission</sql>

    <sql id="Base_Column_List">
        id,role_code,permission_code,create_time,modify_time,operator,operate_time
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="TableName"/>
    </select>

    <insert id="insert" parameterType="org.moy.spring.test.example.domain.RolePermissionEntity">
        INSERT INTO
        <include refid="TableName"/>
        (
        <include refid="Base_Column_List"/>
        )
        VALUES (
        #{entity.id},
        #{entity.roleCode},
        #{entity.permissionCode},
        #{entity.createTime},
        #{entity.modifyTime},
        #{entity.operator},
        #{entity.operateTime}
        )
    </insert>

    <delete id="delete">
        DELETE FROM
        <include refid="TableName"/>
        WHERE id= #{id}
    </delete>

    <select id="query" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="TableName"/>
        <where>
            <if test="entity.roleCode != null">
                AND role_code = #{entity.roleCode}
            </if>
            <if test="entity.permissionCode != null">
                AND permission_code = #{entity.permissionCode}
            </if>
        </where>
    </select>
</mapper>