<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.moy.spring.test.example.repository.TagRepository">
    <resultMap id="BaseResultMap" type="org.moy.spring.test.example.domain.TagEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <!--公共属性-->
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="founder" property="founder" jdbcType="VARCHAR"/>
        <result column="operator" property="operator" jdbcType="VARCHAR"/>
        <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP"/>
        <result column="version" property="operateTime" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="TableName">t_tag</sql>

    <sql id="Base_Column_List">
        id, code, name,
        create_time,founder,operator,operate_time,version
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="TableName"/>
    </select>

    <insert id="insert" parameterType="org.moy.spring.test.example.domain.TagEntity">
        INSERT INTO<include refid="TableName"/>(
        <include refid="Base_Column_List"/>
        )
        VALUES (
        #{entity.id},
        #{entity.code},
        #{entity.name},
        #{entity.createTime},
        #{entity.founder},
        #{entity.operator},
        #{entity.operateTime},
        #{entity.version}
        )
    </insert>

    <update id="update">
        UPDATE <include refid="TableName"/>
        <trim prefix="set" suffixOverrides=",">
            <if test="true">title=#{entity.name},</if>
            <if test="true">content=#{entity.content},</if>
            <if test="true">operator=#{entity.operator},</if>
            <if test="true">operate_time=#{entity.operateTime},</if>
            <if test="true">version=#{entity.version},</if>
        </trim>
        WHERE code=#{entity.code}
    </update>

    <delete id="delete">
        DELETE FROM
        <include refid="TableName"/>
        WHERE id= #{id}
    </delete>

    <select id="query" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="TableName"/>
        <where>
            <if test="entity.code != null">
                AND code = #{entity.code}
            </if>
        </where>
    </select>

    <select id="getByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="TableName"/>
        <where>
            <if test="entity.code != null">
                AND code = #{entity.code}
            </if>
        </where>
    </select>
</mapper>