<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.moy.spring.test.example.repository.UserRepository">
    <resultMap id="BaseResultMap" type="org.moy.spring.test.example.domain.UserEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="status" property="status"/>
        <!--公共属性-->
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="operator" property="operator" jdbcType="VARCHAR"/>
        <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP"/>
        <result column="version" property="operateTime" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="TableName">t_user</sql>

    <sql id="Base_Column_List">
        id, name, code,telephone,status,create_time,modify_time,operator,operate_time,version
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="TableName"/>
    </select>

    <insert id="insert" parameterType="org.moy.spring.test.example.domain.UserEntity">
        INSERT INTO<include refid="TableName"/>(
        <include refid="Base_Column_List"/>
        )
        VALUES (
        #{entity.id},
        #{entity.name},
        #{entity.code},
        #{entity.telephone},
        #{entity.status},
        #{entity.createTime},
        #{entity.modifyTime},
        #{entity.operator},
        #{entity.operateTime},
        #{entity.version}
        )
    </insert>

    <delete id="delete">
        DELETE FROM
        <include refid="TableName"/>
        WHERE id= #{id}
    </delete>
</mapper>